/** @format */

@import 'variables.scss';

.infoBox {
  flex: 1;
  margin-bottom: 2rem;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__card {
    border: none;
    padding: 2rem 3rem;
    border-radius: 5px;
    background-color: $color-blue-dark;
    box-shadow: 3px 5px 10px rgb(69, 69, 69);
    color: white;

    &--title {
      font-size: 2rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
      display: inline-block;
    }

    &--case {
      font-size: 2.5rem;
      font-weight: 700;
      padding-top: 2rem;
      color: $color-yellow-dark;
    }

    &--total {
      font-weight: 400;
      padding-top: 1rem;
    }

    &:hover {
      transform: translateY(-1.3rem);
    }
  }

  &--selected h2.infoBox__card--title {
    border-bottom: 2px solid greenyellow;
  }
}
