/** @format */

@import 'variables.scss';

.app {
  width: 80vw;
  margin: 10rem auto;

  display: flex;
  flex-direction: column;

  &__covid {
    display: flex;
  }

  &__left {
    flex: 0.8;
    padding: 0 3rem;
  }

  &__right {
    flex: 0.2;
    background-color: $color-white;
    box-shadow: 5px 10px 20px rgb(69, 69, 69);
    border-radius: 5px;
    margin: 0 3rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 4.5rem;
    color: $color-blue-dark;
    text-shadow: 3px 3px 2px rgb(249, 249, 249), 5px 5px 3px rgb(164, 164, 164);
  }

  select {
    border: none;
    border-radius: 5px;
    padding: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__stats {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data {
    display: flex;
    flex-direction: column;

    &--table {
      margin-top: 2rem;
    }
    &--graph {
      padding: 1.5rem;
    }
  }

  &__vaccine {
    margin-top: 10rem;
    height: 100rem;
  }
}

@media (max-width: 1180px) {
  .app {
    flex-direction: column;

    &__right {
      margin-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}
