/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-yellow-dark;
  font-family: 'Roboto', sans-serif;
  color: $color-blue-dark;
}
